<ion-header>
  <ion-toolbar>
    <ion-title>tab-monster-list</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" routerLink="/create-monster">
        Create
      </ion-button>
      <ion-button (click)="loadMonsters()">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  {{autoLoad$|async}}

  <ion-searchbar
    [(ngModel)]="searchText"
    (ngModelChange)="loadMonsters()"
  ></ion-searchbar>

  <p *ngIf="monsters.length==0">No monsters available.</p>
  <ion-accordion-group>
    <div *ngFor="let monster of monsters">
      <ion-accordion>
        <div class="overview" slot="header">
          <div class="icon">
            <div class="middle">
              <ion-avatar>
                <img src="/assets/icon/favicon.png" />
              </ion-avatar>
            </div>
          </div>
          <div class="words">
            <div class="left">
              <div class="cost">cost: {{monster.cost}} MP</div>
              <div class="quantity">
                reminds: {{monster.remind}}/{{monster.quantity}}
              </div>
            </div>
            <div class="right">
              <div class="code">{{monster.code}}</div>
              <div class="name">{{monster.name}}</div>
            </div>
          </div>
        </div>
        <div slot="content">
          <div class="rewards">
            <div class="ion-text-end">
              <ion-button
                (click)="fight(monster)"
                [disabled]="monster.remind < 1"
              >
                Fight
              </ion-button>
              <ion-button [routerLink]="'/edit-monster/' + monster.code">
                Edit
              </ion-button>
            </div>
            <img [src]="getImageUrl(monster)" />
          </div>
        </div>
      </ion-accordion>
    </div>
  </ion-accordion-group>
</ion-content>

<ion-modal [isOpen]="isShowDraw">
  <ng-template>
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-title>扭蛋</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true" class="ion-padding">
      <div>machine ...</div>
      <div class="dice-area" #diceAreaRef>
        <div
          class="shell"
          [style.width]="shell.width+'px'"
          [style.height]="shell.height+'px'"
        >
          <!-- shell -->
          <div
            *ngFor="let egg of eggs"
            [hidden]="egg == droppingEgg"
            class="egg"
            [style.width]="egg.width+'px'"
            [style.height]="egg.height+'px'"
            [attr.color]="egg.color"
            [style.left]="egg.position.x - egg.width / 2 + 'px'"
            [style.top]="egg.position.y - egg.height / 2 + 'px'"
            [style.transform]="'rotate(' + egg.degree + 'deg)'"
          >
            <!-- egg -->
          </div>
        </div>
        <div
          #outputRef
          class="output"
          [style.position]="isDropping ? 'absolute': ''"
          [style.width]="output.width+'px'"
          [style.height]="output.height+'px'"
        >
          <!-- output -->
          <div
            *ngIf="droppingEgg as egg"
            class="egg"
            [style.width]="egg.width+'px'"
            [style.height]="egg.height+'px'"
            [attr.color]="egg.color"
            [style.left]="egg.position.x - egg.width / 2 + 'px'"
            [style.top]="egg.position.y - egg.height / 2 + 'px'"
            [style.transform]="'rotate(' + egg.degree + 'deg) scale(' + egg.scale + ')'"
          >
            <!-- egg -->
          </div>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="isShowResult">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="closeResult()">Close</ion-button>
        </ion-buttons>
        <ion-title> You got </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content> 123123c </ion-content>
  </ng-template>
</ion-modal>
