.overview {
  margin-top: 1rem;
  border: 1px solid black;
}
.rewards {
  border: 1px solid black;
  border-top: 0;
}

.words {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.icon {
  display: flex;
  justify-content: space-around;
  height: 0px;
}
.middle {
  margin-top: 0.5rem;
}
ion-avatar {
  height: 64px;
  width: 64px;
}

/* draw modal */

.dice-area {
  background-image: url("/assets/machine.png");
  // width: 1120px;
  // height: 1793px;
  width: 320px;
  height: 560px;
  background-size: cover;
  background-position: center;
  margin: auto;
}

.shell {
  // border: 1px solid black;
  position: relative;
  top: 100px;
  left: 35px;
}
.egg {
  position: absolute;
  border: 1px solid black;
  border-radius: 100%;
}

.egg[color="1"] {
  background: rgb(255, 151, 151);
  background: linear-gradient(
    0deg,
    rgba(255, 151, 151, 1) 0%,
    rgba(227, 64, 219, 1) 100%
  );
}
.egg[color="2"] {
  background: rgb(159, 151, 255);
  background: linear-gradient(
    0deg,
    rgba(159, 151, 255, 1) 0%,
    rgba(64, 227, 218, 1) 100%
  );
}
.egg[color="3"] {
  background: rgb(252, 255, 151);
  background: linear-gradient(
    0deg,
    rgba(252, 255, 151, 1) 0%,
    rgba(104, 227, 64, 1) 100%
  );
}

.output {
  // border: 1px solid black;
  border-radius: 1rem;
  // position: absolute;
  top: 391px;
  left: 129px;
}

.dice-area {
  border: 1px solid red;
  position: relative;
}
