<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/monster-list"></ion-back-button>
    </ion-buttons>
    <ion-title>edit-monster</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p *ngIf="error">
    <ion-text color="danger"> {{error}} </ion-text>
  </p>
  <ng-container *ngIf="monster">
    <ion-list>
      <ion-item>
        <ion-label position="floating"> Monster ID </ion-label>
        <ion-input [(ngModel)]="monster.code"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"> Monster Name </ion-label>
        <ion-input [(ngModel)]="monster.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"> MP Required </ion-label>
        <ion-input [(ngModel)]="monster.cost"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Image </ion-label>
        <ion-input readonly [value]="monster.image"></ion-input>
        <ion-button slot="end" (click)="selectImage(monster)">
          <ion-icon name="image" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
      <div class="ion-text-center">
        <img [src]="getImageUrl(monster)" />
      </div>
    </ion-list>
    <ion-list>
      <ion-list-header> Monster Items </ion-list-header>
      <ion-item-group *ngFor="let item of items">
        <ion-item>
          <ion-label position="floating"> Item Name </ion-label>
          <ion-input type="text" [(ngModel)]="item.name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating"> Quantity </ion-label>
          <ion-input
            type="number"
            min="0"
            step="1"
            [(ngModel)]="item.quantity"
          ></ion-input>
        </ion-item>
      </ion-item-group>
      <ion-button (click)="addItem()">Add Item</ion-button>
    </ion-list>
    <ion-button expand="block" (click)="submit(monster)"> Save </ion-button>
  </ng-container>
</ion-content>
