<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/monster-list"></ion-back-button>
    </ion-buttons>
    <ion-title>create-monster</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="floating"> Monster ID </ion-label>
      <ion-input [(ngModel)]="monster.code"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Monster Name </ion-label>
      <ion-input [(ngModel)]="monster.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> MP Required </ion-label>
      <ion-input [(ngModel)]="monster.cost"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Image </ion-label>
      <ion-input [value]="monster.image?.name" readonly></ion-input>
      <ion-button slot="end" (click)="selectImage()">
        <ion-icon name="image" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
    <div class="ion-text-center">
      <img [src]="imagePreview" />
    </div>
  </ion-list>
  <ion-button expand="block" (click)="submit()"> Create </ion-button>
</ion-content>
